# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
.idea/
/node_modules
/stockyui/node_modules
/stockyapi/bin
/stockyapi/obj
/stockyapi/.idea
/stockymodels/bin
/stockymodels/obj
/stockymodels/.idea
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
/stockyui/.env.development
/stockyui/.env.production
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
stockyapi/obj/
stockymodels/obj/
stockyui/obj/
Stocky.sln.DotSettings.user
